/*= FRAMEWORK
==============================================*/
/* line 69, ../sass/_library.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*= FORM
==============================================*/
/* line 9, ../sass/_screen.scss */
body {
  font-family: helvetica, arial, sans-serif;
  background: #eeeeee url('../images/noise.png?1381177978');
}

/* line 13, ../sass/_screen.scss */
.container {
  width: 65%;
  margin: 3em auto;
  -webkit-transition: all 0.5s ease-in, 1s;
  -moz-transition: all 0.5s ease-in, 1s;
  -o-transition: all 0.5s ease-in, 1s;
  transition: all 0.5s ease-in, 1s;
}
@media (max-width: 48em) {
  /* line 13, ../sass/_screen.scss */
  .container {
    width: 100%;
  }
}
/* line 21, ../sass/_screen.scss */
.container h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: .5em;
  position: relative;
  text-shadow: -2px 2px 0 white;
}
/* line 28, ../sass/_screen.scss */
.container h1:before {
  content: '';
  text-shadow: -2px 0 10px white;
  position: absolute;
  left: -5px;
}
@media (max-width: 48em) {
  /* line 21, ../sass/_screen.scss */
  .container h1 {
    font-size: 2em;
  }
}

/* line 39, ../sass/_screen.scss */
.content {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: -4px 0 15px 2px #999999;
  -moz-box-shadow: -4px 0 15px 2px #999999;
  box-shadow: -4px 0 15px 2px #999999;
  background: white;
  border: 4px solid #ccc;
  padding: 20px 40px;
  -webkit-transition: all 0.5s ease-in, 1s;
  -moz-transition: all 0.5s ease-in, 1s;
  -o-transition: all 0.5s ease-in, 1s;
  transition: all 0.5s ease-in, 1s;
}
/* line 46, ../sass/_screen.scss */
.content:hover {
  -webkit-box-shadow: -4px 0 30px 8px #ababab;
  -moz-box-shadow: -4px 0 30px 8px #ababab;
  box-shadow: -4px 0 30px 8px #ababab;
}
@media (max-width: 30em) {
  /* line 39, ../sass/_screen.scss */
  .content {
    padding: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

/* line 54, ../sass/_screen.scss */
.question {
  padding: 1em 0;
  margin: 5px 0;
  position: relative;
}
/* line 57, ../sass/_screen.scss */
.oldie .question {
  margin: 0;
}
/* line 61, ../sass/_screen.scss */
.question:before {
  content: "";
  height: 1px;
  position: absolute;
  bottom: -5px;
  width: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eeeeee), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, #eeeeee, #ffffff);
  background-image: -moz-linear-gradient(left, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(left, #eeeeee, #ffffff);
  background-image: linear-gradient(left, #eeeeee, #ffffff);
}
/* line 69, ../sass/_screen.scss */
.question:last-child:before {
  background-image: none;
}

/*= ROYALL FORM FRAMEWORK
	= CREATED BY: KHOA NGUYEN 2013
==============================================*/
/*= SETTINGS
==============================================*/
/*= breakpoints
==============================================*/
/* set input borders
==================================*/
/* set label styling
==================================*/
/* set input styles
==================================*/
/*= Do not touch the 'FORM CORE'!
All updates should be done in the settings above
or in your layout css. -KN 2013
==============================================*/
/*= FORM CORE
==============================================*/
/*= GENERAL
==============================================*/
/* line 106, ../sass/_form.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 112, ../sass/_form.scss */
*, *:focus {
  outline: none;
}

/* line 115, ../sass/_form.scss */
.question {
  margin: 0 0 .7em;
}

/*= LABELS
==============================================*/
/* line 121, ../sass/_form.scss */
label, .desc {
  width: 30%;
  display: inline-block;
  color: #666666;
}
@media (max-width: 64em) {
  /* line 121, ../sass/_form.scss */
  label, .desc {
    display: block;
    width: 100%;
  }
}

/*= INPUT
==============================================*/
/* line 136, ../sass/_form.scss */
input[type=text], input[type=password], input[type=tel], select, textarea {
  width: 65%;
  border: 1px solid #ddd;
  padding: 10px 5px;
  color: black;
  border: 2px solid #cccccc;
  font-size: 1rem;
  background: #eeeeee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
@media (max-width: 64em) {
  /* line 136, ../sass/_form.scss */
  input[type=text], input[type=password], input[type=tel], select, textarea {
    width: 100%;
  }
}
/* line 151, ../sass/_form.scss */
input[type=text]:hover, input[type=text]:focus, input[type=password]:hover, input[type=password]:focus, input[type=tel]:hover, input[type=tel]:focus, select:hover, select:focus, textarea:hover, textarea:focus {
  background: #cccccc;
  color: #333333;
}

/*= PHONE
==============================================*/
/* line 159, ../sass/_form.scss */
.telephone {
  display: inline-block;
}
@media (max-width: 30em) {
  /* line 159, ../sass/_form.scss */
  .telephone {
    display: block;
  }
}
/* line 164, ../sass/_form.scss */
.telephone input[type=text], .telephone input[type=tel] {
  width: auto;
  margin-right: .3em;
  display: inline-block;
}
@media (max-width: 30em) {
  /* line 164, ../sass/_form.scss */
  .telephone input[type=text], .telephone input[type=tel] {
    display: block;
    width: 100%;
    margin: 0 0 .5em;
  }
}

/*= SELECTS
==============================================*/
/* line 179, ../sass/_form.scss */
select, select:hover {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-image: url('../images/arrow-down.svg?1380915198');
  background-repeat: no-repeat;
  background-position: 98% center;
  padding-right: 25px;
}
/* line 84, ../sass/_form.scss */
.oldie select, .oldie select:hover {
  background-image: url('../images/arrow-down.png?1380915198');
}
/* line 190, ../sass/_form.scss */
.oldie select, .oldie select:hover {
  background-image: none;
  padding-right: 10px;
}

/*= BIRTH DATE
==============================================*/
/* line 199, ../sass/_form.scss */
.type_date .mmddyyyy {
  display: inline-block;
}
@media (max-width: 30em) {
  /* line 199, ../sass/_form.scss */
  .type_date .mmddyyyy {
    display: block;
  }
}
/* line 204, ../sass/_form.scss */
.type_date .mmddyyyy span {
  display: inline-block;
  margin-right: .2em;
}
@media (max-width: 30em) {
  /* line 204, ../sass/_form.scss */
  .type_date .mmddyyyy span {
    display: block;
  }
}
/* line 210, ../sass/_form.scss */
.type_date .mmddyyyy span select {
  width: auto;
  background-position: 92% 50%;
}
@media (max-width: 30em) {
  /* line 210, ../sass/_form.scss */
  .type_date .mmddyyyy span select {
    display: block;
    width: 100%;
    margin: 0 0 .5em;
  }
}

/*= RADIOS
==============================================*/
@media (max-width: 64em) {
  /* line 225, ../sass/_form.scss */
  .type_radio > .desc, .type_radio > label {
    margin: 0 0 10px 0;
    display: block;
  }
}

/* line 232, ../sass/_form.scss */
.choice {
  display: inline-block;
}
@media (max-width: 30em) {
  /* line 232, ../sass/_form.scss */
  .choice {
    display: block;
  }
}
/* line 237, ../sass/_form.scss */
.choice span {
  margin-right: 30px;
  display: inline-block;
}
@media (max-width: 30em) {
  /* line 237, ../sass/_form.scss */
  .choice span {
    display: block;
    width: 100%;
    margin: 0 0 .5em;
  }
}
/* line 245, ../sass/_form.scss */
.choice span input[type=radio] {
  position: absolute;
  left: 0;
  opacity: 0;
}
/* line 249, ../sass/_form.scss */
.oldie .choice span input[type=radio] {
  position: relative;
}
/* line 254, ../sass/_form.scss */
.choice span input[type=radio] + label, .choice span input[type=radio]:checked + label {
  padding: .2em 0 0 2em;
  position: relative;
}
/* line 257, ../sass/_form.scss */
.choice span input[type=radio] + label:before, .choice span input[type=radio]:checked + label:before {
  content: "";
  background: url('../images/radio.svg?1380900599') no-repeat;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 269, ../sass/_form.scss */
.choice span input[type=radio]:checked + label:before, .choice span input[type=radio]:hover + label:before, .choice span input[type=radio]:checked:checked + label:before, .choice span input[type=radio]:checked:hover + label:before {
  background: url('../images/radio-checked.svg?1380901921') no-repeat;
}

/*= CHECKBOX
==============================================*/
/* line 281, ../sass/_form.scss */
.type_checkbox input[type=checkbox] {
  width: 15px;
  height: 15px;
}
/* line 284, ../sass/_form.scss */
.type_checkbox input[type=checkbox] + label {
  display: inline;
}
